body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.container {
  position: absolute;
  bottom: 64px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px;
  gap: 16px;
}
.container button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
